body {
    margin: 0;
    background-color: #05171E;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 9px;
}

h3{
    font-size: 16px;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #082129;
    gap: 10px;
    height: 40px;
}

header h3{
    display: flex;
    align-items: center;
}

header img{
    height: 30px;
}

button{
    padding: 0;
    background-color: #0D3240;
    cursor: pointer;
    border: 0;
}

.red_color{
    color: #EB5F53;
}

.header_writing{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    width: 100%;
}

.container_books{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    flex-wrap: wrap;
    gap: 25px;
}

.book{
    border-radius: 4px;
    width: 300px;
}

.titel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D3240;
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #124758;
    box-shadow: inset 0px 0px 35px 18px rgba(0,0,0,0.29);
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
    height: 120px;
}

.showcase img{
    height: 100%;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0D3240;
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
}

.flex_space_between{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.likes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.likes img{
    height: 16px;
    filter: invert(100%);
    cursor: pointer;
}

.description{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 90%;
    margin-bottom: 10px;
}

.comment_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0D3240;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comment_headline{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 10px;
}

.comments_container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
    flex-wrap: wrap;
    overflow: auto;
    height: 70px;
}

.comment_overview{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
}

.comments{
    width: 70%;
}

.comment_write{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment_write input{
    border: 0;
    width: 250%;
    background-color: #124556;
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
    padding: 0;
    font-size: 8px;
    color: white;
    height: 20px;
}

input:focus { 
    outline: none;
 }

::placeholder {
    color: #ffffffb7;
    font-size: 8px;
    opacity: 1;
    padding-left: 5px;
  }

.comment_write img{
    height: 18px;
}