body {
    margin: 0;
    background-color: #05171E;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
}

h3{
    font-size: 16px;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #082129;
    gap: 10px;
    height: 40px;
}

header h3{
    display: flex;
    align-items: center;
}

header img{
    height: 30px;
}

.red_color{
    color: #EB5F53;
}

.header_writing{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    width: 100%;
}

.container_books{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.book{
    border-radius: 4px;
}

.titel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D3240;
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #124758;
    box-shadow: inset 0px 0px 35px 18px rgba(0,0,0,0.29);
    border-bottom: #6AA8C3;
    border-bottom-style: solid;
    height: 120px;
}

.showcase img{
    height: 100%;
}